body
{
	padding: 0px 30px;
	font-family: 'Open Sans', sans-serif;
}


.smart_article_title
{
	padding: 20px 0px 10px;
}

.smart_article_title h1
{
	text-align: left;
	margin: 0px;
	font-weight: 400;
	font-size: 22px;
	line-height: 24px;
}

.article_source_date_author
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
}

.article_source_date_author li 
{
	display: inline-block;
	font-size: 13px;
	border-right: 1px solid #dddddd;
	color: #aaaaaa;
	padding-left: 7px;
	padding-right: 12px;
}

.article_source_date_author li:first-child
{
	padding-left: 0px;
}

.article_source_date_author li:last-child
{
	padding-right: 0px;
	border-right: 0px;
}

.smart_article_content
{
	font-size: 15px;
}

.smart_article_content img
{
	max-width: 100%;
}